<h1 class="well" style="color:black; text-align: center;"> <strong><%= @barber.first_name %></strong> </h1>
<table style="width:100%; color: black; background-color: grey; font-weight: bold; opacity: 0.9;">
  <thead class="well">
    <tr>
      <th>Customer</th>
      <th>Haircut Type</th>
      <th>Haircut Price</th>
      <th>Date / Time</th>
    </tr>
  </thead>
       <% @barber.appointments.each do |ba| %>
  <tbody>  
       <tr> 
         <td> <u> Customer: <%= ba.user.name %> </u></td> 
         <td>  Haircut: <%= ba.haircut.name %> </td> 
         <td>  Haircut: <%= ba.haircut.price %> </td> 
         <td> <u> Appointment: <%= ba.new_time%> </u></td>
       </tr>    
  </tbody>
       <% end %>  
</table>  
